In [3]:
import pandas as pd
import numpy as np
import datetime, random

from multiprocessing import Pool
import time

### Previous method: Function-based implementation

In [4]:
%%time
import akiFlagger
covid_df = pd.read_csv(r'H:\Data\Standardized AKI definition\dataset\covid creatinines.csv')
covid_df['mrn'] = covid_df.pat_mrn_id.str.strip('MR').astype('int')
covid_df['enc'] = covid_df.enc_id
covid_df['time'] = pd.to_datetime(covid_df.time)
covid_df['sex'] = covid_df.sex.astype('bool')
covid_df['race'] = covid_df.race.astype('bool')
covid_df['inpatient'] = covid_df.inpatient.astype('bool')
covid_df['creat'] = covid_df['creatinine']
covid_df['admission'] = pd.to_datetime(covid_df.admission)
covid_df['discharge'] = pd.to_datetime(covid_df.discharge)
print('Shape:', covid_df.shape)
print(covid_df.dtypes)

df = covid_df[['mrn', 'enc', 'time', 'creat', 'age', 'sex', 'race', 'inpatient', 'admission', 'discharge']]
df = df[:10000]
df = df[~df.duplicated()] #The rows where the pat_enc_csn_id was lumped into enc_id become duplicates
df = df.groupby('enc', sort=False).apply(lambda d: d.sort_values('time'))
df = df.reset_index(drop=True)
p = akiFlagger.returnAKIpatients(df)
p.head()

Shape: (450399, 16)
pat_mrn_id                 object
PAT_ENC_CSN_ID              int64
time               datetime64[ns]
creatinine                float64
hosp_admsn_time            object
hosp_disch_time            object
enc_id                      int64
admission          datetime64[ns]
discharge          datetime64[ns]
age                       float64
sex                          bool
race                         bool
inpatient                    bool
mrn                         int32
enc                         int64
creat                     float64
dtype: object
Wall time: 15.8 s

,time,mrn,enc,creat,age,sex,race,inpatient,admission,discharge,mincreat_48hr,mincreat_7day,deltacreat_48hr,deltacreat_7day,rollingwindow_aki,stage1,stage2,stage3,baseline_creat,backcalc_aki
0,2020-03-13 16:20:00,1000026,214990932,0.50,18.945205,True,False,False,2020-04-10 15:53:00,2020-04-16 19:22:00,NaN,NaN,NaN,NaN,False,False,False,False,0.50,NaN
1,2020-04-07 20:38:00,1000026,214990932,0.56,18.945205,True,False,False,2020-04-10 15:53:00,2020-04-16 19:22:00,0.56,0.56,0.0,0.00,False,False,False,False,0.50,NaN
2,2020-04-10 18:29:00,1000026,214990932,0.59,18.945205,True,False,True,2020-04-10 15:53:00,2020-04-16 19:22:00,0.59,0.56,0.0,0.03,False,False,False,False,0.50,False
3,2020-04-12 07:46:00,1000026,214990932,0.56,18.945205,True,False,True,2020-04-10 15:53:00,2020-04-16 19:22:00,0.56,0.56,0.0,0.00,False,False,False,False,0.50,False
4,2019-07-18 12:12:00,1000037,222096628,1.50,15.260274,False,False,False,2020-07-05 20:14:00,2020-07-06 15:10:00,NaN,NaN,NaN,NaN,False,False,False,False,2.43,NaN

## Class-based method for akiFlagger so that the required column names can be independent of my naming system

In [18]:
noad = df.loc[:,['mrn', 'creat', 'time', 'inpatient']]
noad.head()

       mrn  creat                time  inpatient
0  1000026   0.50 2020-03-13 16:20:00      False
1  1000026   0.56 2020-04-07 20:38:00      False
2  1000026   0.59 2020-04-10 18:29:00       True
3  1000026   0.56 2020-04-12 07:46:00       True
4  1000037   1.50 2019-07-18 12:12:00      False

In [42]:
class AKIFlagger:
    '''Flagger to detect patients with acute kidney injury (AKI).
    
    '''
    def __init__(self, patient_id = 'mrn', creatinine='creatinine', time = 'time', inpatient = 'inpatient', 
                 aki_calc_type=None, keep_extra_cols = False, eGFR_impute = False, add_stages = None,
                 cond1time = '48hours', cond2time = '168hours', pad1time = '0hours', pad2time = '0hours', 
                 rolling_window = False, back_calculate = False,
                 admission = 'admission', age = 'age', sex = 'sex', race = 'race', encounter_id = 'enc'):
        
        #Identifiers
        self.patient_id = patient_id
        self.encounter_id = encounter_id
        
        #Columns necessary for calculation (if admission not included it will be imputed)
        self.creatinine = creatinine
        self.time = time
        self.inpatient = inpatient
        self.admission = admission
        
        #Demographic variables
        self.age = age
        self.sex = sex
        self.race = race
        
        #Rolling-window variables
        self.cond1time = cond1time
        self.cond2time = cond2time
        self.pad1time = pad1time
        self.pad2time = pad2time
        
        #Extra options to specify what is included in the output
        self.eGFR_impute = eGFR_impute
        self.add_stages = add_stages
        self.keep_extra_cols = keep_extra_cols
        
        #Specifying the calculation type wanted in the flagger
        self.aki_calc_type = aki_calc_type
        self.rolling_window = rolling_window
        self.back_calculate = back_calculate
        
        if self.aki_calc_type is not None:
            if self.aki_calc_type == 'rolling_window':
                self.rolling_window = True
                
        
            
    def returnAKIpatients(self, df, add_stages = None, 
                          cond1time = None, cond2time = None, pad1time = None, pad2time = None):
        '''
        Returns patients with AKI according to the KDIGO guidelines. The KDIGO guidelines are as follows:

        * *Stage 1:* 0.3 increase in serum creatinine in < 48 hours OR 50% increase in serum creatinine in < 7 days (168 hours)
        * *Stage 2:* 100% increase in (or doubling of) serum creatinine in < 48 hours
        * *Stage 3:* 200% increase in (our tripling of) serum creatinine in < 48 hours

        More information can be found in the documentation at akiflagger.readthedocs.io
        Args: 

            df (pd.DataFrame): Patient dataframe, should include some sort of patient and encounter identifier(s) and age, sex, race, serum creatinine and timestamps.
        Returns:
            df (pd.DataFrame): Patient dataframe with AKI patients identified. 

        Raises:
            AssertionError: If the dataframe is missing an expected column; e.g. if there is no age/sex/race and eGFR_impute is True.

        '''
        if add_stages is None:
            add_stages = self.add_stages
        self.add_stages = add_stages
        
        if cond1time is None:
            cond1time = self.cond1time
        self.cond1time = cond1time
        
        if cond2time is None:
            cond2time = self.cond2time
        self.cond2time = cond2time
        
        if self.admission not in df.columns:
            df = self.addAdmissionColumn(df, add_encounter_col = self.encounter_id not in df.columns)
            
        if self.rolling_window: 
            df = df.groupby(self.patient_id, sort=False, as_index=False).apply(lambda d: self.addRollingWindowAKI(d))
            df = df.reset_index(level=0, drop=True).reset_index() #this will leave time as the index
            
        if self.back_calculate:
            df = df.groupby(self.patient_id, sort=False).apply(lambda d: self.addBaselineCreat(d, 
                                                                                               eGFR_impute=eGFR_impute))

            df = df.groupby(self.encounter_id, sort=False).apply(lambda d: self.addBackCalcAKI(d,
                                                                                  cond1time = self.cond1time,
                                                                                  cond2time = self.cond2time))
            df = df.reset_index(self.encounter_id, drop=True, as_index=False).reset_index()
            
        if not self.keep_extra_cols:
            if self.rolling_window or self.aki_calc_type != 'back_calculate':
                df = df.drop([self.mint1_colname, self.mint2_colname, self.delt1_colname, self.delt2_colname], axis=1)
        return df
    
    def addRollingWindowAKI(self, df):
        '''
        Adds the AKI conditions based on rolling window definition: 

        * *Stage 1:* 0.3 increase in serum creatinine in < 48 hours OR 50% increase in serum creatinine in < 7 days (168 hours)
        * *Stage 2:* 100% increase in (or doubling of) serum creatinine in < 48 hours
        * *Stage 3:* 200% increase in (our tripling of) serum creatinine in < 48 hours

        Args: 
            df (pd.DataFrame): dataframe, typically of a single encounter.
            add_stages (bool): boolean, default **True**. 
                Choose whether or not to delineate the rolling-window AKI into the three stages (if False it will just lump Stage 1/2/3 into a boolean True/False)
            cond1time (str): string, default **'48hours'**. 
                The amount of time for the rolling-window according to the first criterion; i.e. 0.3 increase in creatinine in ``cond1time`` hours. 
            cond2time (str): string, default **'168hours'**. 
                The amount of time for the rolling-window according to the second criterion; i.e. 50% increase in creatinine in ``cond2time`` hours.

        Returns: 
            df (pd.DataFrame): dataframe with rolling-window aki values added in
        '''
        df = df.set_index(self.time).sort_index()
        #Changed df.admission[0] to df[~df.admission.isnull()].admission[0]
        df_rw = df.loc[df.admission[0] - pd.Timedelta(hours=172):]
        
        t1 = pd.Timedelta(self.cond1time) + pd.Timedelta(self.pad1time)
        t2 = pd.Timedelta(self.cond2time) + pd.Timedelta(self.pad2time)
        
        minc_t1, minc_t2 = np.empty(df.shape[0]), np.empty(df.shape[0])
        minc_t1[:], minc_t2[:] = np.nan, np.nan 
        minc_t1[df.shape[0]-df_rw.shape[0]:] = df_rw[self.creatinine].rolling(pd.Timedelta(self.cond1time), min_periods=1).min().values
        minc_t2[df.shape[0]-df_rw.shape[0]:] = df_rw[self.creatinine].rolling(pd.Timedelta(self.cond2time), min_periods=1).min().values

        self.mint1_colname = 'mincreat_{}'.format(t1.days*24 + t1.seconds // 3600)
        self.mint2_colname = 'mincreat_{}'.format(t2.days*24 + t2.seconds // 3600)
        self.delt1_colname = 'deltacreat_{}'.format(t1.days*24 + t1.seconds // 3600)
        self.delt2_colname = 'deltacreat_{}'.format(t2.days*24 + t2.seconds // 3600)
        
        df[self.mint1_colname] = minc_t1
        df[self.mint2_colname] = minc_t2

        df[self.delt1_colname] = np.round(df.creat - df[self.mint1_colname], decimals = 5)
        df[self.delt2_colname] = np.round(df.creat - df[self.mint2_colname], decimals = 5)

        if self.add_stages:
            df['stage1'] = (df[self.delt1_colname] >= 0.3) | (df[self.delt2_colname] >= 0.5*df[self.mint2_colname])
            df['stage2'] = df[self.delt2_colname] >= 2*df[self.mint2_colname]
            df['stage3'] = df[self.delt2_colname] >= 3*df[self.mint2_colname]
            
        df['rollingwindow_aki'] = 1*df.stage1 + 1*df.stage2 + 1*df.stage3 if self.add_stages else (df[self.delt1_colname] >= 0.3) | (df[self.delt2_colname] >= 0.5*df[self.mint2_colname])
  
        return df
    
    def addAdmissionColumn(self, df, add_encounter_col = True):
        
        pat_gb = df.groupby(self.patient_id)
        
        #Check for those rows which are all inpatient; e.g. a hospital visit
        df.loc[:, 'all_inp'] = pat_gb.inpatient.transform(lambda d: np.all(d))
        df.loc[:, 'all_inp'] = df.all_inp & ~pat_gb.all_inp.shift(1, fill_value=False)

        df.loc[:,'admission'] = df.inpatient & ~pat_gb.inpatient.shift(1, fill_value=False)
        df.loc[:,'admission'] = df[np.logical_or(df.admission, df.all_inp)].time
        df.loc[:,'admission'] = pat_gb.admission.apply(lambda s: s.bfill().ffill())
        
        if add_encounter_col:
            df.loc[:, 'enc'] = df.inpatient & ~pat_gb.inpatient.shift(1, fill_value=False)
            df.loc[df.enc, 'enc'] = np.arange(1, df.enc.sum()+1)
            df.loc[df.enc == False, 'enc'] = np.nan
            df.loc[:,'enc'] = pat_gb.enc.apply(lambda s: s.bfill().ffill())
        df = df.drop(['all_inp'], axis=1)
        return df

In [43]:
f = AKIFlagger(rolling_window=True, creatinine = 'creat', add_stages=True)
rw = f.returnAKIpatients(noad)
rw.head()

,time,mrn,creat,inpatient,all_inp,admission,enc,stage1,stage2,stage3,rollingwindow_aki
0,2020-03-13 16:20:00,1000026,0.50,False,False,2020-04-10 18:29:00,1.0,False,False,False,0
1,2020-04-07 20:38:00,1000026,0.56,False,False,2020-04-10 18:29:00,1.0,False,False,False,0
2,2020-04-10 18:29:00,1000026,0.59,True,False,2020-04-10 18:29:00,1.0,False,False,False,0
3,2020-04-12 07:46:00,1000026,0.56,True,False,2020-04-10 18:29:00,1.0,False,False,False,0
4,2019-07-18 12:12:00,1000037,1.50,False,False,2020-07-05 22:02:00,2.0,False,False,False,0

In [40]:
p.rollingwindow_aki.sum(), rw.rollingwindow_aki.sum()

(642, 658)

In [176]:
%%time
flagger = AKIFlagger(rolling_window=True, creatinine='creat', keep_extra_cols=False)
rw = flagger.returnAKIpatients(noad)

Wall time: 5.45 s

In [177]:
#noad = df.loc[:,['mrn', 'creat', 'time', 'inpatient']]
rw[rw.rollingwindow_aki]

,mrn,creat,inpatient,all_inp,admission,admn_fill,allinp,mincreat_48hr,mincreat_7day,deltacreat_48hr,deltacreat_7day,rollingwindow_aki,stage1,stage2,stage3
time,,,,,,,,,,,,,,,
2020-05-11 06:21:00,1000243,1.83,True,False,2020-05-08 01:02:00,2020-05-08 01:02:00,False,1.47,1.47,0.36,0.36,True,True,False,False
2020-04-09 06:26:00,1003079,2.40,True,True,2020-04-08 15:04:00,2020-04-08 15:04:00,False,1.43,1.43,0.97,0.97,True,True,False,False
2020-04-10 07:27:00,1003079,2.01,True,True,2020-04-08 15:04:00,2020-04-08 15:04:00,False,1.43,1.43,0.58,0.58,True,True,False,False
2020-04-28 10:22:00,1003079,1.18,True,True,2020-04-08 15:04:00,2020-04-08 15:04:00,False,0.84,0.84,0.34,0.34,True,True,False,False
2020-05-02 05:28:00,1003079,1.31,True,True,2020-04-08 15:04:00,2020-04-08 15:04:00,False,1.07,0.84,0.24,0.47,True,True,False,False
2020-05-15 09:44:00,1003181,0.90,True,False,2020-05-15 09:44:00,2020-05-15 09:44:00,False,0.90,0.60,0.00,0.30,True,True,False,False
2020-05-15 09:44:00,1003181,0.90,False,False,2020-07-05 16:43:00,2020-07-05 16:43:00,False,0.90,0.60,0.00,0.30,True,True,False,False
2020-03-27 05:09:00,1005100,1.89,True,False,2020-06-15 18:44:00,2020-06-15 18:44:00,False,1.58,1.58,0.31,0.31,True,True,False,False
2020-03-27 05:09:00,1005100,1.89,False,False,2020-06-15 18:44:00,2020-06-15 18:44:00,False,1.58,1.58,0.31,0.31,True,True,False,False
2020-03-27 17:38:00,1005100,2.55,False,False,2020-06-15 18:44:00,2020-06-15 18:44:00,False,1.58,1.58,0.97,0.97,True,True,False,False
2020-03-27 17:38:00,1005100,2.55,True,False,2020-06-15 18:44:00,2020-06-15 18:44:00,False,1.58,1.58,0.97,0.97,True,True,False,False
2020-03-28 06:32:00,1005100,2.33,True,False,2020-06-15 18:44:00,2020-06-15 18:44:00,False,1.58,1.58,0.75,0.75,True,True,False,False
2020-03-28 06:32:00,1005100,2.33,False,False,2020-06-15 18:44:00,2020-06-15 18:44:00,False,1.58,1.58,0.75,0.75,True,True,False,False
2020-07-08 02:43:00,1005577,2.20,True,False,2020-07-08 02:43:00,2020-07-08 02:43:00,False,0.89,0.83,1.31,1.37,True,True,False,False
2020-07-08 11:28:00,1005577,1.40,True,False,2020-07-08 02:43:00,2020-07-08 02:43:00,False,0.89,0.83,0.51,0.57,True,True,False,False
2020-04-16 15:06:00,1005877,0.83,True,False,2020-04-14 09:53:00,2020-04-14 09:53:00,False,0.54,0.54,0.29,0.29,True,True,False,False
2020-04-17 02:24:00,1005877,0.94,True,False,2020-04-14 09:53:00,2020-04-14 09:53:00,False,0.54,0.54,0.40,0.40,True,True,False,False
2020-04-17 12:59:00,1005877,0.84,True,False,2020-04-14 09:53:00,2020-04-14 09:53:00,False,0.55,0.54,0.29,0.30,True,True,False,False
2020-04-19 00:46:00,1005877,0.86,True,False,2020-04-14 09:53:00,2020-04-14 09:53:00,False,0.78,0.54,0.08,0.32,True,True,False,False
2020-06-01 18:46:00,1006847,2.39,True,False,2020-06-01 18:46:00,2020-06-01 18:46:00,False,2.39,0.89,0.00,1.50,True,True,False,False
2020-06-02 03:54:00,1006847,2.36,True,False,2020-06-01 18:46:00,2020-06-01 18:46:00,False,2.36,0.89,0.00,1.47,True,True,False,False
2020-06-02 13:01:00,1006847,2.34,True,False,2020-06-01 18:46:00,2020-06-01 18:46:00,False,2.34,0.89,0.00,1.45,True,True,False,False
2020-06-05 05:21:00,1006847,2.52,True,False,2020-06-01 18:46:00,2020-06-01 18:46:00,False,2.18,2.18,0.34,0.34,True,True,False,False
2020-03-27 16:55:00,1008039,5.54,False,False,2020-04-22 10:02:00,2020-04-22 10:02:00,False,5.54,3.09,0.00,2.45,True,True,False,False
2020-03-27 16:55:00,1008039,5.54,True,False,2020-03-27 16:55:00,2020-03-27 16:55:00,False,5.54,3.09,0.00,2.45,True,True,False,False
2020-03-28 05:50:00,1008039,5.86,False,False,2020-04-22 10:02:00,2020-04-22 10:02:00,False,5.54,3.09,0.32,2.77,True,True,False,False
2020-03-28 05:50:00,1008039,5.86,True,False,2020-04-22 10:02:00,2020-04-22 10:02:00,False,5.54,3.09,0.32,2.77,True,True,False,False
2020-03-29 07:57:00,1008039,6.19,False,False,2020-04-22 10:02:00,2020-04-22 10:02:00,False,5.54,4.42,0.65,1.77,True,True,False,False
2020-03-29 07:57:00,1008039,6.19,True,False,2020-04-22 10:02:00,2020-04-22 10:02:00,False,5.54,4.42,0.65,1.77,True,True,False,False
2020-03-30 06:59:00,1008039,6.66,False,False,2020-04-22 10:02:00,2020-04-22 10:02:00,False,6.19,4.42,0.47,2.24,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-15 06:14:00,1082819,3.49,True,False,2020-05-14 21:52:00,2020-05-14 21:52:00,False,3.02,3.02,0.47,0.47,True,True,False,False
2020-05-15 10:44:00,1082819,3.36,True,False,2020-05-14 21:52:00,2020-05-14 21:52:00,False,3.02,3.02,0.34,0.34,True,True,False,False
2020-05-19 08:14:00,1083640,1.90,True,False,2020-05-15 10:21:00,2020-05-15 10:21:00,False,1.30,1.20,0.60,0.70,True,True,False,False
2020-05-19 12:03:00,1083640,1.90,True,False,2020-05-15 10:21:00,2020-05-15 10:21:00,False,1.30,1.20,0.60,0.70,True,True,False,False
2020-04-30 11:48:00,1084458,1.97,True,True,2020-04-30 05:49:00,2020-04-30 05:49:00,False,1.43,1.43,0.54,0.54,True,True,False,False
2020-05-20 08:36:00,1086206,0.90,True,False,2020-05-11 17:29:00,2020-05-11 17:29:00,False,0.70,0.60,0.20,0.30,True,True,False,False
2020-05-08 16:48:00,1090433,2.43,True,False,2020-05-08 16:48:00,2020-05-08 16:48:00,False,2.12,1.52,0.31,0.91,True,True,False,False
2020-05-08 16:48:00,1090433,2.43,False,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.12,1.52,0.31,0.91,True,True,False,False
2020-05-08 16:48:00,1090433,2.43,False,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.12,1.52,0.31,0.91,True,True,False,False
2020-05-08 23:00:00,1090433,2.49,True,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.12,1.52,0.37,0.97,True,True,False,False
2020-05-08 23:00:00,1090433,2.49,False,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.12,1.52,0.37,0.97,True,True,False,False
2020-05-08 23:00:00,1090433,2.49,False,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.12,1.52,0.37,0.97,True,True,False,False
2020-05-09 05:56:00,1090433,2.51,False,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.12,1.52,0.39,0.99,True,True,False,False
2020-05-09 05:56:00,1090433,2.51,True,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.12,1.52,0.39,0.99,True,True,False,False
2020-05-09 05:56:00,1090433,2.51,False,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.12,1.52,0.39,0.99,True,True,False,False
2020-05-10 07:00:00,1090433,2.60,False,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.43,1.53,0.17,1.07,True,True,False,False
2020-05-10 07:00:00,1090433,2.60,True,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.43,1.53,0.17,1.07,True,True,False,False
2020-05-10 07:00:00,1090433,2.60,False,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.43,1.53,0.17,1.07,True,True,False,False
2020-05-11 06:51:00,1090433,2.53,True,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.53,1.68,0.00,0.85,True,True,False,False
2020-05-11 06:51:00,1090433,2.53,False,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.53,1.68,0.00,0.85,True,True,False,False
2020-05-11 06:51:00,1090433,2.53,False,False,2020-05-28 19:46:00,2020-05-28 19:46:00,False,2.53,1.68,0.00,0.85,True,True,False,False
2020-06-01 07:14:00,1090433,2.82,True,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.46,2.46,0.36,0.36,True,True,False,False
2020-06-01 07:14:00,1090433,2.82,False,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.46,2.46,0.36,0.36,True,True,False,False
2020-06-03 06:34:00,1090433,3.53,False,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.82,2.46,0.71,1.07,True,True,False,False
2020-06-03 06:34:00,1090433,3.53,True,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.82,2.46,0.71,1.07,True,True,False,False
2020-06-04 06:38:00,1090433,4.22,True,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.87,2.46,1.35,1.76,True,True,False,False
2020-06-04 06:38:00,1090433,4.22,False,False,2020-06-18 23:13:00,2020-06-18 23:13:00,False,2.87,2.46,1.35,1.76,True,True,False,False
2020-04-11 08:21:00,1094655,2.30,True,True,2020-04-07 00:15:00,2020-04-07 00:15:00,False,1.91,1.84,0.39,0.46,True,True,False,False
2020-01-14 07:58:00,1095322,1.17,False,False,NaT,NaT,False,0.87,0.87,0.30,0.30,True,True,False,False
2020-01-15 06:48:00,1095322,1.60,False,False,NaT,NaT,False,1.10,0.87,0.50,0.73,True,True,False,False

In [151]:
%%time
pat_gb = noad.groupby('mrn')

#Check for those rows which are all inpatient; e.g. a hospital visit
noad.loc[:,'all_inp'] = pat_gb.inpatient.transform(lambda d: np.all(d))
noad.loc[:,'all_inp'] = noad.all_inp & ~pat_gb.all_inp.shift(1, fill_value=False)

noad.loc[:,'admission'] = noad.inpatient & ~pat_gb.inpatient.shift(1, fill_value=False)
noad.loc[:,'admission'] = noad[np.logical_or(noad.admission, noad.all_inp)].time
noad.loc[:,'admission'] = pat_gb.admission.apply(lambda d: d.bfill().ffill())
noad

Wall time: 816 ms

,mrn,creat,time,inpatient,all_inp,admission,admn_fill
0,1000026,0.50,2020-03-13 16:20:00,False,False,2020-04-10 18:29:00,2020-04-10 18:29:00
1,1000026,0.56,2020-04-07 20:38:00,False,False,2020-04-10 18:29:00,2020-04-10 18:29:00
2,1000026,0.59,2020-04-10 18:29:00,True,False,2020-04-10 18:29:00,2020-04-10 18:29:00
3,1000026,0.56,2020-04-12 07:46:00,True,False,2020-04-10 18:29:00,2020-04-10 18:29:00
4,1000037,1.50,2019-07-18 12:12:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
5,1000037,1.56,2019-07-25 15:14:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
6,1000037,1.82,2019-09-21 11:22:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
7,1000037,1.98,2019-10-05 11:32:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
8,1000037,1.89,2019-10-17 11:29:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
9,1000037,1.98,2019-11-09 13:29:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
10,1000037,2.20,2019-11-23 13:42:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
11,1000037,2.43,2019-12-05 10:38:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
12,1000037,2.13,2019-12-12 17:21:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
13,1000037,2.93,2020-01-23 10:50:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
14,1000037,3.57,2020-02-06 21:10:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
15,1000037,3.71,2020-02-07 06:25:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
16,1000037,3.63,2020-02-09 11:37:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
17,1000037,3.88,2020-02-12 11:43:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
18,1000037,4.24,2020-02-28 19:53:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
19,1000037,4.15,2020-02-29 05:44:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
20,1000037,4.01,2020-03-01 07:20:00,False,False,2020-07-05 22:02:00,2020-07-05 22:02:00
21,1000037,5.05,2020-07-05 22:02:00,True,False,2020-07-05 22:02:00,2020-07-05 22:02:00
22,1000162,0.50,2020-05-21 23:27:00,True,True,2020-05-21 23:27:00,2020-05-21 23:27:00
23,1000162,0.50,2020-05-22 02:49:00,True,False,2020-05-21 23:27:00,2020-05-21 23:27:00
24,1000162,0.60,2020-05-23 06:20:00,True,False,2020-05-21 23:27:00,2020-05-21 23:27:00
25,1000162,0.60,2020-05-24 07:42:00,True,False,2020-05-21 23:27:00,2020-05-21 23:27:00
26,1000243,1.42,2019-07-06 15:12:00,False,False,2020-05-08 01:02:00,2020-05-08 01:02:00
27,1000243,2.91,2019-08-05 15:22:00,False,False,2020-05-08 01:02:00,2020-05-08 01:02:00
28,1000243,2.33,2019-08-07 10:42:00,False,False,2020-05-08 01:02:00,2020-05-08 01:02:00
29,1000243,1.85,2020-04-04 18:06:00,False,False,2020-05-08 01:02:00,2020-05-08 01:02:00
...,...,...,...,...,...,...,...
9947,1094655,1.82,2020-04-17 06:38:00,True,False,2020-04-07 00:15:00,2020-04-07 00:15:00
9948,1094655,1.80,2020-04-18 06:24:00,True,False,2020-04-07 00:15:00,2020-04-07 00:15:00
9949,1094655,1.64,2020-04-19 09:34:00,True,False,2020-04-07 00:15:00,2020-04-07 00:15:00
9950,1094655,1.88,2020-04-20 06:46:00,True,False,2020-04-07 00:15:00,2020-04-07 00:15:00
9951,1095185,1.03,2020-05-12 14:25:00,False,False,2020-05-14 19:01:00,2020-05-14 19:01:00
9952,1095185,1.04,2020-05-14 19:01:00,True,False,2020-05-14 19:01:00,2020-05-14 19:01:00
9953,1095185,0.89,2020-05-15 00:45:00,True,False,2020-05-14 19:01:00,2020-05-14 19:01:00
9954,1095185,0.98,2020-05-15 13:46:00,True,False,2020-05-14 19:01:00,2020-05-14 19:01:00
9955,1095185,0.90,2020-05-15 20:56:00,True,False,2020-05-14 19:01:00,2020-05-14 19:01:00
9956,1095185,0.75,2020-05-16 07:10:00,True,False,2020-05-14 19:01:00,2020-05-14 19:01:00
9957,1095185,0.81,2020-05-17 06:18:00,True,False,2020-05-14 19:01:00,2020-05-14 19:01:00
9958,1095322,1.81,2019-06-27 14:41:00,False,False,NaT,NaT
9959,1095322,1.73,2019-06-27 19:33:00,False,False,NaT,NaT
9960,1095322,1.30,2019-06-28 04:57:00,False,False,NaT,NaT
9961,1095322,1.11,2019-06-28 10:49:00,False,False,NaT,NaT
9962,1095322,1.07,2019-06-28 17:21:00,False,False,NaT,NaT
9963,1095322,1.02,2019-06-28 23:01:00,False,False,NaT,NaT
9964,1095322,1.19,2019-06-29 06:52:00,False,False,NaT,NaT
9965,1095322,1.07,2019-06-30 05:36:00,False,False,NaT,NaT
9966,1095322,0.95,2019-07-01 06:29:00,False,False,NaT,NaT
9967,1095322,0.96,2019-07-02 07:18:00,False,False,NaT,NaT
9968,1095322,1.27,2019-08-05 16:45:00,False,False,NaT,NaT
9969,1095322,1.31,2019-10-08 14:03:00,False,False,NaT,NaT
9970,1095322,1.09,2019-11-14 17:34:00,False,False,NaT,NaT
9971,1095322,1.06,2019-12-11 14:56:00,False,False,NaT,NaT
9972,1095322,0.87,2020-01-12 13:18:00,False,False,NaT,NaT
9973,1095322,1.08,2020-01-13 06:29:00,False,False,NaT,NaT
9974,1095322,1.10,2020-01-13 18:58:00,False,False,NaT,NaT
9975,1095322,1.17,2020-01-14 07:58:00,False,False,NaT,NaT
9976,1095322,1.60,2020-01-15 06:48:00,False,False,NaT,NaT

## Edge case checks

In [171]:
#Check to make sure that when switching from mrn to mrn it's still capturing admissions 
c1 = np.logical_and(noad.inpatient, noad.inpatient.shift(1)) #where T & T
c2 = np.logical_and(noad.mrn != noad.mrn.shift(1), ~noad.all_inp)
noad[np.logical_and(c1, c2)].head(10)

#Verify that allinp is capturing the first rows
noad['all_inp'] = pat_gb.inpatient.transform(lambda d: np.all(d))
noad['allinp'] = noad.all_inp & ~pat_gb.all_inp.shift(1, fill_value=False)
noad[np.logical_and(c1, c2)].head(10)
#np.all(noad[noad.all_inp].groupby('mrn').head(1) == noad[noad.allinp])

,mrn,creat,time,inpatient,all_inp,admission,admn_fill,allinp
1278,1010944,0.83,2020-05-25 20:57:00,True,False,2020-05-25 20:57:00,2020-05-25 20:57:00,False
1920,1014973,1.10,2020-05-26 15:34:00,True,False,2020-05-26 15:34:00,2020-05-26 15:34:00,False
1940,1015207,0.83,2020-04-24 11:57:00,True,False,2020-04-24 11:57:00,2020-04-24 11:57:00,False
3751,1032611,0.70,2020-04-25 12:29:00,True,False,2020-04-25 12:29:00,2020-04-25 12:29:00,False
4978,1045752,1.80,2020-04-04 16:09:00,True,False,2020-04-04 16:09:00,2020-04-04 16:09:00,False
7123,1063539,0.90,2020-04-26 17:45:00,True,False,2020-04-26 17:45:00,2020-04-26 17:45:00,False
7212,1063882,0.66,2020-04-29 12:55:00,True,False,2020-04-29 12:55:00,2020-04-29 12:55:00,False
8766,1082424,1.60,2020-04-27 15:31:00,True,False,2020-04-27 15:31:00,2020-04-27 15:31:00,False
8960,1086539,0.77,2020-06-23 18:27:00,True,False,2020-06-23 18:27:00,2020-06-23 18:27:00,False
9780,109244,0.90,2020-07-10 17:52:00,True,False,2020-07-10 17:52:00,2020-07-10 17:52:00,False

## Code for generating admission column with intermediate steps as separate columns

In [139]:
noad = df.loc[:,['mrn', 'creat', 'time', 'inpatient']]
pat_gb = noad.groupby('mrn')

noad.loc[:,'admn'] = noad.inpatient & ~pat_gb.inpatient.shift(1, fill_value=False)
noad.loc[:,'all_inp'] = pat_gb.inpatient.transform(lambda d: np.all(d))
noad.loc[:,'allinp'] = noad.all_inp & ~pat_gb.all_inp.shift(1, fill_value=False)
noad.loc[:,'admission'] = noad[np.logical_or(noad.admn, noad.allinp)].time
noad.loc[:,'admn_fill'] = pat_gb['admission'].apply(lambda d: d.bfill().ffill())