In [1]:
import pandas as pd
import numpy as np
import datetime, random

In [2]:
df = pd.read_csv('/Users/saranmedical-smile/Desktop/patr/StandardizingAKI/inpatient 2014-2018 creatinine.csv') #1441707, 4
df.pat_mrn_id = df.pat_mrn_id.str.strip('MR').astype('int')
df.time = pd.to_datetime(df.time)
print(df.dtypes)
df.columns = ['mrn',
              'enc',
              'time',
              'creat']
df.set_index(['mrn', 'enc'], inplace=True)

pat_mrn_id                 int64
pat_enc_csn_id             int64
time              datetime64[ns]
creatinine               float64
dtype: object

In [404]:
#Quick question to ask: say a patient comes in on a separate encounter within 7 days
#and their creatinine has gone up by 50% since their previous encounter. Does that count as AKI?

#((df.groupby(['pat_mrn_id']).shift(-1) - df).time < datetime.timedelta(days=7)).sum()
#((df.groupby(['pat_mrn_id', 'pat_enc_csn_id']).shift(-1) - df).time < datetime.timedelta(days=7)).sum()

In [3]:
delta_df = df.groupby(['mrn', 'enc']).shift(-1) - df
df['delta_creat'] = delta_df['creat'].shift(1)
df['delta_time'] = delta_df['time'].shift(1)
#df[['delta_time, delta_creat']] = delta_df[['time', 'creatinine']]

In [4]:
np.where(np.logical_and(df.delta_creat > df.creat.shift(1)*0.5, df.delta_time < datetime.timedelta(days=2)))
#676, 7397, ...
#df.iloc[7390:7400]

(array([     95,     256,     354, ..., 1441402, 1441418, 1441653]),)

In [5]:
condition1 = np.logical_and(df.delta_creat > 0.3, df.delta_time < datetime.timedelta(hours=48))
condition2 = np.logical_and(df.delta_creat > df.creat.shift(1)*0.5, df.delta_time < datetime.timedelta(days=7))
df['AKI'] = np.logical_or(condition1, condition2)

#Question: Once you've got AKI you've got AKI for the rest of the encounter, right?
# df.loc['MR1000136']

#Condition 1 examples:
# MR1000136, MR1000468, MR1000507

#Condition 2 examples:
#MR1001546, MR1001806, 

#df[np.logical_xor(condition1, condition2)] gives unique examples of C1 or C2

In [6]:
print('creat > 0.3:', (df.delta_creat > 0.3).sum())
print('time < 48hrs:',(df.delta_time < datetime.timedelta(hours=48)).sum())
print('cond1:', np.logical_and(df.delta_creat > 0.3, df.delta_time < datetime.timedelta(hours=48)).sum())

print('creat_t > 1.5*creat_{t-1}:', (df.delta_creat > df.creat.shift(1)*0.5).sum())
print('time < 48hrs:',(df.delta_time < datetime.timedelta(days=7)).sum())
print('cond2:', np.logical_and(df.delta_creat > df.creat.shift(1)*0.5, df.delta_time < datetime.timedelta(days=7)).sum())

print('cond1 OR cond2:', np.logical_or(condition1, condition2).sum())

creat > 0.3: 63893
time < 48hrs: 1193853
cond1: 60601
creat_t > 1.5*creat_{t-1}: 11899
time < 48hrs: 1234986
cond2: 11825
cond1 OR cond2: 62992

In [7]:
print(df.shape, np.unique(df.index.get_level_values(0)).shape, np.unique(df.index.get_level_values(1)).shape)
df.head()

(1441707, 5) (103924,) (204515,)

                                 time  creat  delta_creat      delta_time  \
mrn     enc
1000041 115884935 2015-06-14 20:59:00    1.6          NaN             NaT
        115884935 2015-06-15 07:54:00    0.9         -0.7 0 days 10:55:00
        115884935 2015-06-16 07:02:00    0.9          0.0 0 days 23:08:00
        115884935 2015-06-17 07:11:00    0.9          0.0 1 days 00:09:00
        117378943 2015-07-18 08:39:00    1.1          NaN             NaT

                     AKI
mrn     enc
1000041 115884935  False
        115884935  False
        115884935  False
        115884935  False
        117378943  False

In [8]:
def eGFR(creat, age, black, female):
    '''
    Calculates the estimated glomerular filtration rate based on the serum creatinine levels, age, sex, and race (black or not black);
    Based on the formula in the paper A New Equation to Estimate Glomerular Filtration Rate (Levey et. Al, 2009) linked below
    
    https://pubmed.ncbi.nlm.nih.gov/19414839/
    
    '''
    #Term 2 - np.clip(creat/(0.9-0.2*female, a_min=1, a_max=None) is the same as taking min(1, creat/k)
    #Term 3 - np.clip(creat/(0.9-0.2*female, a_min=None, a_max=None) is the same as taking max(1, creat/k)
    #where k is the data-derived constant given in the paper: 0.7 for females and 0.9 for males
    
    return 141*(np.clip(creat/(0.9-0.2*female), a_min=1, a_max=None)**(-0.411+0.082*female))*(np.clip(creat/(0.9-0.2*female), a_min=None, a_max=1)**-1.209)*(0.993**age)*(1+female*0.018)*(1+black*0.159)

#Sample test data
creat = np.random.normal(loc=1, scale=0.2, size=10)
age = np.random.normal(loc=55, scale=10, size=10)
black = np.random.rand(10) > 0.5
female = np.random.rand(10) > 0.5

eGFR(creat, age, black, female) 
#values seem pretty reasonable (80-120)

array([105.72125549,  90.15146172, 102.65193151,  96.61077423,
        98.89993195, 113.45758738, 111.88374885,  77.68721777,
        83.66911541,  95.35673989])

In [9]:
firstencs = df.reset_index().drop_duplicates('mrn') #df.groupby(['mrn']).head(1)
df['first_enc'] = [i in firstencs.index for i in range(df.shape[0])]
df[df.first_enc]

,,time,creat,delta_creat,delta_time,AKI,first_enc
mrn,enc,,,,,,
1000041,115884935,2015-06-14 20:59:00,1.60,NaN,NaT,False,True
1000056,111848406,2015-03-12 21:39:00,0.70,NaN,NaT,False,True
1000057,104466981,2014-09-30 15:38:00,0.70,NaN,NaT,False,True
1000077,169350903,2018-04-11 16:59:00,0.80,NaN,NaT,False,True
1000094,98097982,2014-03-30 07:42:00,3.80,NaN,NaT,False,True
...,...,...,...,...,...,...,...
999893,113721630,2015-06-03 08:36:00,0.60,NaN,NaT,False,True
999926,96076796,2014-02-06 07:45:00,0.80,NaN,NaT,False,True
999938,102049353,2014-08-06 07:33:00,1.00,NaN,NaT,False,True
999960,118591616,2015-08-15 08:39:00,0.80,NaN,NaT,False,True
999967,153410327,2017-06-28 12:40:00,0.58,NaN,NaT,False,True

In [10]:
#groupby and drop_duplicates operate similarly - groupby retains index dd doesn't
df.groupby(['mrn']).head(1)
df.reset_index().drop_duplicates('mrn')

,mrn,enc,time,creat,delta_creat,delta_time,AKI,first_enc
0,1000041,115884935,2015-06-14 20:59:00,1.60,NaN,NaT,False,True
12,1000056,111848406,2015-03-12 21:39:00,0.70,NaN,NaT,False,True
22,1000057,104466981,2014-09-30 15:38:00,0.70,NaN,NaT,False,True
27,1000077,169350903,2018-04-11 16:59:00,0.80,NaN,NaT,False,True
29,1000094,98097982,2014-03-30 07:42:00,3.80,NaN,NaT,False,True
...,...,...,...,...,...,...,...,...
1441689,999893,113721630,2015-06-03 08:36:00,0.60,NaN,NaT,False,True
1441691,999926,96076796,2014-02-06 07:45:00,0.80,NaN,NaT,False,True
1441693,999938,102049353,2014-08-06 07:33:00,1.00,NaN,NaT,False,True
1441701,999960,118591616,2015-08-15 08:39:00,0.80,NaN,NaT,False,True
1441705,999967,153410327,2017-06-28 12:40:00,0.58,NaN,NaT,False,True

In [11]:
df['age'] = None
df['sex'] = None
mrn_gb = df.groupby(['mrn'])
tmp = mrn_gb.head(1)
tmp['sex'] = np.random.rand(tmp.shape[0]) > 0.5
tmp['age'] = np.random.normal(loc=50, scale=10, size=tmp.shape[0])
df['age'] = tmp['age'] #So this works! I can match by index the ages & sex
df['sex'] = tmp['sex'] #even though df and tmp are different shapes... awesome! 
df['age'] = mrn_gb['age'].transform(lambda x: x.ffill())
df['sex'] = mrn_gb['sex'].transform(lambda x: x.ffill())
df.head()

/Users/saranmedical-smile/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/saranmedical-smile/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                 time  creat  delta_creat      delta_time  \
mrn     enc
1000041 115884935 2015-06-14 20:59:00    1.6          NaN             NaT
        115884935 2015-06-15 07:54:00    0.9         -0.7 0 days 10:55:00
        115884935 2015-06-16 07:02:00    0.9          0.0 0 days 23:08:00
        115884935 2015-06-17 07:11:00    0.9          0.0 1 days 00:09:00
        117378943 2015-07-18 08:39:00    1.1          NaN             NaT

                     AKI  first_enc        age   sex
mrn     enc
1000041 115884935  False       True  40.823068  True
        115884935  False      False  40.823068  True
        115884935  False      False  40.823068  True
        115884935  False      False  40.823068  True
        117378943  False      False  40.823068  True

In [40]:
#df.head()
#df.loc[1000041]
df[df.delta_creat.isnull()]

                                 time  creat  delta_creat delta_time    AKI  \
mrn     enc
1000041 115884935 2015-06-14 20:59:00   1.60          NaN        NaT  False
        117378943 2015-07-18 08:39:00   1.10          NaN        NaT  False
        147850097 2017-03-20 16:00:00   0.97          NaN        NaT  False
1000056 111848406 2015-03-12 21:39:00   0.70          NaN        NaT  False
        112813525 2015-04-03 22:50:00   0.80          NaN        NaT  False
...                               ...    ...          ...        ...    ...
999926  96076796  2014-02-06 07:45:00   0.80          NaN        NaT  False
999938  102049353 2014-08-06 07:33:00   1.00          NaN        NaT  False
        119446076 2015-09-04 07:06:00   0.90          NaN        NaT  False
999960  118591616 2015-08-15 08:39:00   0.80          NaN        NaT  False
999967  153410327 2017-06-28 12:40:00   0.58          NaN        NaT  False

                   first_enc
mrn     enc
1000041 115884935       True
        117378943      False
        147850097      False
1000056 111848406       True
        112813525      False
...                      ...
999926  96076796        True
999938  102049353       True
        119446076      False
999960  118591616       True
999967  153410327       True

[204515 rows x 6 columns]

In [121]:
#df.groupby(['mrn']).groups
#df.sort_values(['mrn', 'time', 'enc'], inplace=True)
#df.reset_index()
#del df['index']
print(np.where(df.delta_creat.isnull())[0])
df.head(30)

[      0       3       5 ... 1441682 1441702 1441705]

,mrn,enc,time,creat,delta_creat,delta_time,AKI,first_enc
238225,154,126559679,2016-02-29 13:03:00,0.90,NaN,NaT,False,True
238226,154,126559679,2016-03-01 06:23:00,0.70,-0.20,0 days 17:20:00,False,False
238227,154,126559679,2016-03-02 06:00:00,0.80,0.10,0 days 23:37:00,False,False
246603,156,130878120,2016-05-01 18:03:00,0.60,NaN,NaT,False,True
246604,156,130878120,2016-05-03 07:42:00,0.80,0.20,1 days 13:39:00,False,False
406303,192,132541883,2016-06-01 18:14:00,1.10,NaN,NaT,False,True
406304,192,132541883,2016-06-02 05:32:00,1.10,0.00,0 days 11:18:00,False,False
406305,192,132541883,2016-06-03 05:46:00,1.30,0.20,1 days 00:14:00,False,False
406306,192,134948062,2016-07-14 20:34:00,1.50,NaN,NaT,False,False
406307,192,134948062,2016-07-15 05:18:00,1.40,-0.10,0 days 08:44:00,False,False
406308,192,134948062,2016-07-16 07:29:00,0.90,-0.50,1 days 02:11:00,False,False
406309,192,134948062,2016-07-19 06:52:00,1.10,0.20,2 days 23:23:00,False,False
491546,211,101030612,2014-06-17 19:25:00,0.80,NaN,NaT,False,True
491547,211,101030612,2014-06-18 10:05:00,0.80,0.00,0 days 14:40:00,False,False
491548,211,101030612,2014-06-19 10:47:00,0.80,0.00,1 days 00:42:00,False,False
495075,212,141882920,2016-11-25 21:13:00,0.39,NaN,NaT,False,True
495076,212,141882920,2016-11-26 06:31:00,0.41,0.02,0 days 09:18:00,False,False
495077,212,141882920,2016-11-27 06:54:00,0.30,-0.11,1 days 00:23:00,False,False
495078,212,141882920,2016-11-30 13:09:00,0.29,-0.01,3 days 06:15:00,False,False
495079,212,141882920,2016-12-01 15:14:00,0.25,-0.04,1 days 02:05:00,False,False
495080,212,141882920,2016-12-02 07:35:00,0.22,-0.03,0 days 16:21:00,False,False
495081,212,141882920,2016-12-03 07:44:00,0.26,0.04,1 days 00:09:00,False,False
495082,212,141882920,2016-12-05 06:48:00,0.28,0.02,1 days 23:04:00,False,False
495083,212,141882920,2016-12-06 07:15:00,0.28,0.00,1 days 00:27:00,False,False
495084,212,141882920,2016-12-10 07:15:00,0.29,0.01,4 days 00:00:00,False,False
495085,212,141882920,2016-12-11 06:56:00,0.31,0.02,0 days 23:41:00,False,False
495086,212,145897098,2017-02-10 19:00:00,0.32,NaN,NaT,False,False
495087,212,145897098,2017-02-11 00:41:00,0.25,-0.07,0 days 05:41:00,False,False
495088,212,145897098,2017-02-12 08:15:00,0.41,0.16,1 days 07:34:00,True,False
495089,212,145897098,2017-02-13 06:48:00,0.36,-0.05,0 days 22:33:00,False,False

In [129]:
#df[df.delta_creat.isnull()].head(30)
bc = df[np.logical_and(df.delta_creat.isnull(), ~df.first_enc)] # these need to be back-calculated
bc.head()

,mrn,enc,time,creat,delta_creat,delta_time,AKI,first_enc
406306,192,134948062,2016-07-14 20:34:00,1.50,NaN,NaT,False,False
495086,212,145897098,2017-02-10 19:00:00,0.32,NaN,NaT,False,False
495093,212,146461432,2017-02-22 04:32:00,0.34,NaN,NaT,False,False
495101,212,147073095,2017-03-03 18:21:00,0.50,NaN,NaT,False,False
704475,262,136635955,2016-10-31 15:36:00,1.30,NaN,NaT,False,False

In [157]:
lookback_indices = list()

In [131]:
np.where(np.logical_and(df.delta_creat.isnull(), ~df.first_enc))[0]

array([      8,      26,      33, ..., 1441606, 1441702, 1441705])

In [ ]:
for indx in np.where(np.logical_and(df.delta_creat.isnull(), ~df.first_enc))[0][:2]:
    lookback_indices = list()
    init_indx = indx
    while (df.iloc[indx].time - df.iloc[indx-1].time) < datetime.timedelta(days=365) and (df.iloc[indx].time - df.iloc[indx-1].time) > datetime.timedelta(days=7) and df.iloc[indx].mrn == df.iloc[indx-1].mrn:
        lookback_indices.append(indx)
        indx -= 1
    df.iloc[lookback_indices].creat.mean()
#df.loc[[8]].time.values - df.loc[[7]].time.values

In [ ]:
df.iloc[lookback_indices]

In [292]:
df.loc[df.mrn == 212]

,mrn,enc,time,creat,delta_creat,delta_time,AKI,first_enc
495075,212,141882920,2016-11-25 21:13:00,0.39,NaN,NaT,False,True
495076,212,141882920,2016-11-26 06:31:00,0.41,0.02,0 days 09:18:00,False,False
495077,212,141882920,2016-11-27 06:54:00,0.30,-0.11,1 days 00:23:00,False,False
495078,212,141882920,2016-11-30 13:09:00,0.29,-0.01,3 days 06:15:00,False,False
495079,212,141882920,2016-12-01 15:14:00,0.25,-0.04,1 days 02:05:00,False,False
495080,212,141882920,2016-12-02 07:35:00,0.22,-0.03,0 days 16:21:00,False,False
495081,212,141882920,2016-12-03 07:44:00,0.26,0.04,1 days 00:09:00,False,False
495082,212,141882920,2016-12-05 06:48:00,0.28,0.02,1 days 23:04:00,False,False
495083,212,141882920,2016-12-06 07:15:00,0.28,0.00,1 days 00:27:00,False,False
495084,212,141882920,2016-12-10 07:15:00,0.29,0.01,4 days 00:00:00,False,False
495085,212,141882920,2016-12-11 06:56:00,0.31,0.02,0 days 23:41:00,False,False
495086,212,145897098,2017-02-10 19:00:00,0.32,NaN,NaT,False,False
495087,212,145897098,2017-02-11 00:41:00,0.25,-0.07,0 days 05:41:00,False,False
495088,212,145897098,2017-02-12 08:15:00,0.41,0.16,1 days 07:34:00,True,False
495089,212,145897098,2017-02-13 06:48:00,0.36,-0.05,0 days 22:33:00,False,False
495090,212,145897098,2017-02-14 06:21:00,0.42,0.06,0 days 23:33:00,False,False
495091,212,145897098,2017-02-15 06:41:00,0.46,0.04,1 days 00:20:00,False,False
495092,212,145897098,2017-02-16 06:34:00,0.39,-0.07,0 days 23:53:00,False,False
495093,212,146461432,2017-02-22 04:32:00,0.34,NaN,NaT,False,False
495094,212,146461432,2017-02-23 01:56:00,0.34,0.00,0 days 21:24:00,False,False
495095,212,146461432,2017-02-24 02:42:00,0.50,0.16,1 days 00:46:00,False,False
495096,212,146461432,2017-02-25 01:18:00,0.28,-0.22,0 days 22:36:00,False,False
495097,212,146461432,2017-02-25 08:39:00,0.59,0.31,0 days 07:21:00,True,False
495098,212,146461432,2017-02-26 14:28:00,0.48,-0.11,1 days 05:49:00,False,False
495099,212,146461432,2017-02-27 07:46:00,0.42,-0.06,0 days 17:18:00,False,False
495100,212,146461432,2017-02-28 07:50:00,0.38,-0.04,1 days 00:04:00,False,False
495101,212,147073095,2017-03-03 18:21:00,0.50,NaN,NaT,False,False
495102,212,147073095,2017-03-03 18:53:00,0.25,-0.25,0 days 00:32:00,False,False
495103,212,147073095,2017-03-04 02:16:00,0.32,0.07,0 days 07:23:00,False,False
495104,212,147073095,2017-03-04 17:20:00,0.36,0.04,0 days 15:04:00,False,False
495105,212,147073095,2017-03-05 06:49:00,0.35,-0.01,0 days 13:29:00,False,False
495106,212,147073095,2017-03-06 07:59:00,0.33,-0.02,1 days 01:10:00,False,False
495107,212,147073095,2017-03-07 06:43:00,0.29,-0.04,0 days 22:44:00,False,False
495108,212,147073095,2017-03-08 16:03:00,0.34,0.05,1 days 09:20:00,False,False
495109,212,147073095,2017-03-09 20:18:00,0.27,-0.07,1 days 04:15:00,False,False
495110,212,147073095,2017-03-10 04:55:00,0.31,0.04,0 days 08:37:00,False,False
495111,212,147073095,2017-03-11 04:12:00,0.29,-0.02,0 days 23:17:00,False,False
495112,212,147073095,2017-03-13 07:29:00,0.36,0.07,2 days 03:17:00,False,False
495113,212,147073095,2017-03-14 06:30:00,0.35,-0.01,0 days 23:01:00,False,False
495114,212,147073095,2017-03-15 07:07:00,0.40,0.05,1 days 00:37:00,False,False
495115,212,147073095,2017-03-16 07:10:00,0.32,-0.08,1 days 00:03:00,False,False

In [200]:
#df.loc[df.delta_creat.isnull() & ~df.first_enc]

,mrn,enc,time,creat,delta_creat,delta_time,AKI,first_enc
406306,192,134948062,2016-07-14 20:34:00,1.50,NaN,NaT,False,False
495086,212,145897098,2017-02-10 19:00:00,0.32,NaN,NaT,False,False
495093,212,146461432,2017-02-22 04:32:00,0.34,NaN,NaT,False,False
495101,212,147073095,2017-03-03 18:21:00,0.50,NaN,NaT,False,False
704475,262,136635955,2016-10-31 15:36:00,1.30,NaN,NaT,False,False
...,...,...,...,...,...,...,...,...
1332147,5925974,166536076,2018-02-21 18:08:00,0.90,NaN,NaT,False,False
1332159,5926110,163309990,2017-12-26 10:39:00,0.90,NaN,NaT,False,False
1332174,5926110,168605523,2018-03-29 12:58:00,1.00,NaN,NaT,False,False
1332284,5927327,122073436,2015-11-02 15:56:00,0.70,NaN,NaT,False,False
1332287,5927327,143996535,2017-01-07 17:39:00,0.50,NaN,NaT,False,False

In [206]:
df.iloc[[8,26,33]]

,mrn,enc,time,creat,delta_creat,delta_time,AKI,first_enc
406306,192,134948062,2016-07-14 20:34:00,1.50,NaN,NaT,False,False
495086,212,145897098,2017-02-10 19:00:00,0.32,NaN,NaT,False,False
495093,212,146461432,2017-02-22 04:32:00,0.34,NaN,NaT,False,False